.category-img {
  width: 100%;
}

.header-image {
  width: 100%;
}

.content-img {
  display: flex;
  position: relative;
  text-align: center;
}

.img-menu {
  display: block;
  width: 100%;
  border-radius: 12px 0px 0px 12px;
}


@media (max-width: 768px) {
  .header-image {
    display: none;
  }

  .img-menu {
    border-radius: 12px;
  }
}
